@model MVCMailSender.Models.Entity.AppUser
@{
    ViewBag.Title = "ActivationPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Lütfen üyelik aktivasyonu için @Model.Email adresinize giderek gelen kutusunu kontrol edin.
</h2>

