@model MVCMailSender.Models.Entity.AppUser
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Username üyeliğiniz başarılı şekilde aktifleştirildi!</h2>
<h3>
    <a href="#">Burdan</a> işlemlerinize ddevam edebilirsiniz.
</h3>

